<div class="banner" *ngIf="match.teams">
  <div class="team">
    <p class="player" *ngFor="let player of match.teams[0].players" [style]="'color: '+player.colour+';'">
      <span class="flag">{{ player.nationality }}</span>
      {{ player.name }}
      ({{ player.ELO }})
    </p>
  </div>
  &nbsp;VS&nbsp;
  <div class="team">
    <p class="player" *ngFor="let player of match.teams[1].players" [style]="'color: '+player.colour+';'">
      <span class="flag">{{ player.nationality }}</span>
      {{ player.name }}
      ({{ player.ELO }})
    </p>
  </div>
</div>
