@font-face {
  font-family: Flags;
  src:  url('assets/BabelStoneFlags.woff2') format('woff2'),
        url('assets/BabelStoneFlags.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
}
